
<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

 <!--<h2 class="text-center">상품 정보 보기</h2>-->
  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 text-right">
      <img src="<%= @post.image_url(:medium) %>">
    </div>
    <div class="col-md-5">
      <h3><%= @post.title %></h3>
      <p><span class="label label-warning"><%= @post.category %></span></p>
      <p><%= @post.content %></p>
      <p><a href="/jshoes/edit/<%= @post.id %>">수정</a> | <a href="/jshoes/delete_complete/<%= @post.id %>">삭제</a><br>
 <a href="/">전체 리스트 가기</a></p>
      <hr />
        <input type="hidden" name="post_id" value="<%= @post.id %>">
      </form>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
