<script type="text/javascript">
  function add_cart(){
    var f=document.formName;
    f.action="/user/push_cart"
    f.submit();
  }
  function buy(){
    var f=document.formName;
    f.action="/user/order"
    f.submit();
  }
</script>

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 text-right">
      <img src="<%= @post.image_url(:medium) %>">
    </div>
    <div class="col-md-5">
    <form name="formName" method="post">
    <input type="hidden" name="post_id" value="<%= @post.id %>">
     <span style="font-size:27px;"><%= @post.title %></span>&nbsp;&nbsp; <span class="label label-danger">New</span>
      <p><span class="label label-warning"><%= @post.category %></span></p><br>
     <table class="table table-condensed">
       <tr>
         <td>판매가격</td>
         <td><span style="color:gray;"><strong><%= @post.price %>원</strong></span></td>
       </tr>
       <tr>
          <td>적립금</td>
          <td><%= @post.point %>%</td>
       </tr>
       <tr>
         <td><span style="font-size:13px;">색상(Color)</span></td>
         <td><select name="post_color">
          <option value="essential">--- 필수 옵션입니다 ---</option>
           <%= @post.color.split(",").each do |post| %>
          <option value="<%= post %>"><%= post %></option>
           <% end %>
          </select></td>
       </tr>
       <tr>
         <td><span style="font-size:13px;">사이즈(Size)</span></td>
         <td><select name="post_size">
          <option value="essential">--- 필수 옵션입니다 ---</option>
           <%= @post.size.split(",").each do |post| %>
          <option value="<%= post %>"><%= post %></option>
           <% end %>         
         </select></td>
       </tr>
       <tr>
         <td>주문수량</td>
         <td>
        <input type=text name=figure value="1" style="width:20px; height:20px;">
           <input type=button value="up" onClick="javascript:this.form.figure.value++;">
           <input type=button value="down" onClick="javascript:this.form.figure.value--;">
 </td>
       </tr>
       <tr>
         <td>해외배송 여부</td>
         <td>국내, 해외 배송 가능</td>
       </tr>
       <tr>
     <!--    <td align="center"><br><input class="btn btn-primary btn-lg" type="submit" value="장바구니"></td></form>-->
      <td colspan=2><br>
       <input type="button" value="장바구니" style="width:200px;height:60px; background-Color:purple; font-weight:bold; color:white; border:1px solid white; font-size:15px;" onclick="add_cart();">
       &nbsp;&nbsp;&nbsp;
       <input type="button" value="바로구매" style="width:150px;height:60px; background-Color:DeepPink; font-weight:bold; border:1px solid white; color:white; font-size:15px;" onclick="buy();">
         </td>
       </tr>
     </table></form>
       <hr>     
      <% if session[:user_id] == 1 %>
      <p><a href="/jshoes/edit/<%= @post.id %>">수정</a> | <a href="/jshoes/delete_complete/<%= @post.id %>">삭제</a><br>
      <% end %>

      <a href="/">전체 리스트 가기</a></p>
      </form>
    </div>

    <div class="col-md-1">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7 text-center">
     <br><br>
     <img src="<%= @post.detail %>" width=700>
    </div>
    <div class="col-md-2"></div>
  </div>


</div>
