<div class="container">
 <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

 <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <br><br>
    <span style="font-size:25px;"><strong>Shopping Cart</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:gray;font-size:13px;">고객님께서 장바구니에 담으신 상품입니다.</span>
    <hr>
    <br>
      <table class="table">

         <tr class="active">
           <td>사진</td>
           <td>상품명</td>
           <td>수량</td>
           <td>가격</td>
           <td>배송비</td>
           <td>취소</td>
         </tr>
         <% @product.reverse.each do |product| %>
         <tr>
           <!--<#% if (product.id).nil? %>
           <td>kkkkkkk</td><#% end %> -->
           <td><a href="/jshoes/show/<%= product.post_id %>"><img src="<%= product.post.image %>" width="60" height="60"></a></td>
           <td><a href="/jshoes/show/<%= product.post_id %>"><%= product.post.title %></a><br>색상 : <%= product.color %>, 사이즈 : <%= product.size %></td>
           <td><%= product.figure %></td>
           <td><strong><%= product.post.price %>원</strong></td>
           <td>2,500원</td>
           <td>
              <form action="/user/cart_cancel/<%= product.id %>" method="get">
                 <input class="btn btn-default btn-sm" type="submit" value="삭제">
              </form>
           </td>
         </tr>
         <% end %>
      </table>
    </div>
    <div class="col-md-1">
    </div>
 </div>
</div>
 

