
<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
<p style="text-align:right; color:gray; font-size:13px;">주문정보를 작성하신 후, 주문하기를 눌러주세요.</p>
<strong><span style="color:gray; font-size:13px;">* 주문 상품(Products ordered)</span></strong><br><br>
    <table class="table">
     <tr class="active">
          <td></td>
          <td align=center><strong>구입 상품명</strong></td>
          <td align=center><strong>수량</strong></td>
          <td align=center><strong>가격</strong></td>
          <td align=center><strong>적립금</strong></td>
     </tr>
     <tr>
      <td align=center><img src="<%= @product.image %>" width="42" height="62"></td>
      <td><span class="label label-info">국내/해외</span>&nbsp;<strong><%= @product.title %></strong><br>색상(COLOR) : <%= @color %>, 사이즈(SIZE) : <%= @size %></td>
      <td align=center><%= @order_count %>개</td>
      <td align=center><strong><%= @product.price %>원</strong></td>
      <td align=center><%= @point_price %>원</td>
     </tr>
     <tr><td align=right colspan=5><strong>결제금액 : <%= @sum %>원 + 배송료 2500원 = <span style="color:Brown;"><%= @total_price %>원</span> (적립금 <%= @total_point %>원)</strong></td></tr>
    </table>

<strong><span style="color:gray; font-size:13px;">* 주문자 정보
(Purchaser inform ation)</span></strong><br><br>
    <table class="table table-bordered table-condensed">
      <tr>
        <td class="warning" align=center width=100><strong>이름</strong></td>
        <td>&nbsp;<%= @user.username %></td>
      </tr>
      <tr>
        <td class="warning" align=center><strong>연락처</strong></td>
        <td>&nbsp;<%= @user.phone_number %></td>
      </tr>
      <tr>
        <td class="warning" align=center><strong>E-mail</strong></td>
        <td>&nbsp;<%= @user.email %></td>
      </tr>
    </table>
     <br>

<strong><span style="color:gray; font-size:13px;">* 배송지 정보(Shipping Inform ation)</span></strong><br><br>
     <form action="/user/order_complete" method="post">
         <input type="hidden" name="post_id" value="<%= @post_id %>">
         <input type="hidden" name="total_price" value="<%= @total_price %>">
         <input type="hidden" name="color" value="<%= @color %>">
         <input type="hidden" name="size" value="<%= @size %>">
         <input type="hidden" name="order_count" value="<%= @order_count %>">
         <input type="hidden" name="total_point" value="<%= @total_point %>">
      <table class="table table-bordered table-condensed">
        <tr>
          <td class="warning" align=center width=100><strong>받으시는 분</strong></td>
          <td><input type="text" name="name" value="<%= @user.username %>"></td>
        </tr>
        <tr>
          <td class="warning" align=center><strong>주소</strong></td>
          <td><input type="text" name="address" value="<%= @user.address %>" style="width:400px;"></td>
        </tr>
        <tr>
          <td class="warning" align=center><strong>휴대전화</strong></td>
          <td><input type="text" name="phone_number" value="<%= @user.phone_number %>"></td>
        </tr>
        <tr>
          <td class="warning" align=center><strong>배송메시지</strong></td> 
          <td><input type="text" name="message" style="width:400px;"></td>
        </tr>
      </table>
      <p style="text-align:center;"><input class="btn btn-default btn-lg" type="submit" value="주문하기"></p>

      </form>
    </div>
    <div class="col-md-1">
    </div>
  </div>
