<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8">
<p style="text-align:right; color:gray; font-size:13px;">주문정보를 작성하신 후, 주문하기를 눌러주세요.</p>
<strong><span style="color:gray; font-size:13px;">* 주문 상품(Products ordered)</span></strong><br><br>
    <table class="table">
     <tr class="active">
          <td></td>
          <td><strong>구입 상품명</strong></td>
          <td><strong>가격</strong></td>
          <td><strong>적립금</strong></td>
     </tr>
     <tr>
      <td><img src="<%= @product.image %>" width="42" height="62"></td>
      <td><span class="label label-info">국내/해외</span>&nbsp;<strong><%= @product.title %></strong><br>색상(COLOR) :</td>
      <td><%= @product.price %>원</td>
      <td><%= @product.point %></td>
     </tr>
     <tr><td class="text-right">dfsdfsd</td></tr>
    </table>

<strong><span style="color:gray; font-size:13px;">* 주문자 정보
(Purchaser inform ation)</span></strong><br><br>
    <table class="table table-bordered table-condensed">
      <tr>
        <td class="warning"><strong>이름</strong></td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td class="warning"><strong>연락처</strong></td>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <td class="warning"><strong>E-mail</strong></td>
 <td><%= @user.email %></td>
      </tr>
    </table>
     <br>

<strong><span style="color:gray; font-size:13px;">* 배송지 정보(Shipping Inform ation)</span></strong><br><br>
      <form action="/user/order_complete" method="post">
         <input type="hidden" name="post_id" value="<%= @post_id %>">
      <table class="table table-bordered table-condensed">
        <tr>
          <td class="warning"><strong>받으시는 분</strong></td>
          <td><input type="text" name="name" value="<%= @user.username %>"></td>
        </tr>
        <tr>
          <td class="warning"><strong>주소</strong></td>
          <td><input type="text" name="address" value="<%= @user.address %>" style="width:400px;"></td>
        </tr>
        <tr>
          <td class="warning"><strong>휴대전화</strong></td>
          <td><input type="text" name="phone_number" value="<%= @user.phone_number %>"></td>
        </tr>
        <tr>
          <td class="warning"><strong>배송메시지</strong></td> 
          <td><input type="text" name="message" style="width:400px;"></td>
        </tr>
      </table>
      <p style="text-align:center;"><input class="btn btn-default btn-lg" type="submit" value="주문하기"></p>
      </form>
    </div>
    <div class="col-md-1">
    </div>
  </div>
